<ion-side-menus>
    <ion-side-menu-content class="backgroundLogin">
        <ion-content scroll="false">
            <div class="row row-bottom media-screen">
                <div class="col col-25 text-left">
                    <button menu-toggle="left" class=" button-icon icon ion-navicon-round iconMenu"></button>
                </div>
            </div>
            <div class="positionLogIn">
                <div class="row">
                    <div class="col col-10"></div>
                    <div class="col col-80">
                        <p class="text-center fontHeaderPVD"><b>PROVIDENT FUND</b></p>
                    </div>
                    <div class="col col-10"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col col-10"></div>
                    <div class="col col-80 text-center">
                        <a href="#/templates/logIn" class="button button-outline button-light" style="width:100%; ">ลงชื่อเข้าใช้</a>
                    </div>
                    <div class="col col-10"></div>
                </div>
                <div class="row">
                    <div class="col col-50 text-right"> <a href="#/templates/register" class="button button-outline button-light" style="width:80%; ">ลงทะเบียน</a></div>
                    <div class="col col-50"> <a ng-click="singInWithFB()" class="button button-outline button-light" style="width:80%; ">เชื่อมต่อเฟสบุ๊ค</a></div>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable menuBackground ">
            <div class="menus">
            </div>
        </ion-header-bar>
        <ion-content scroll="false">
            <div class="list ">
                <a class="item item-icon-left item-icon-right  menu-left-costom" href="#/templates/providentFund">
                    <i class="icon ion-ios-book"></i> เรื่องน่ารู้สำหรับสมาชิกกองทุนสำรองเลี้ยงชีพ
                    <i class="icon ion-ios-arrow-forward"></i>
                </a>
                <a class="item item-icon-left item-icon-right  menu-left-costom" href="#/templates/retired1">
                    <i class="icon ion-ios-calculator"></i> คำนวณแผนเกษียณอายุ
                    <i class="icon ion-ios-arrow-forward"></i>
                </a>
                <a class="item item-icon-left item-icon-right menu-left-costom" href="#">
                    <i class="icon ion-thumbsup"></i> สิทธิประโยชน์ทางภาษี
                    <i class="icon ion-ios-arrow-forward"></i>
                </a>
                <a class="item item-icon-left item-icon-right menu-left-costom" href="#/templates/evalu1">
                    <i class="icon ion-compose"></i> การประเมินรูปแบบความเสี่ยง
                    <i class="icon ion-ios-arrow-forward"></i>
                </a>
                <a class="item item-icon-left item-icon-right menu-left-costom" href="#/templates/FAQ">
                    <i class="icon ion-chatbubble-working"></i> FAQ
                    <i class="icon ion-ios-arrow-forward"></i>
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>