<ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide class="backgroundLogin">
        <div class="positionLogIn">
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    <p class="text-center" style="font-size: 200%;  color: #339933;"><b>PROVIDENT FUND</b></p>
                </div>
                <div class="col col-10"></div>
            </div>
            <br>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80 text-center">
                    <a href="#/templates/logIn" class="button button-outline button-light" style="width:100%; ">ลงชื่อเข้าใช้</a>
                </div>
                <div class="col col-10"></div>
            </div>
            <div class="row">
                <div class="col col-50 text-right"> <a href="#/templates/register" class="button button-outline button-light" style="width:80%; ">ลงทะเบียน</a></div>
                <div class="col col-50"> <a ng-click="singInWithFB()" class="button button-outline button-light" style="width:80%; ">เชื่อมต่อเฟสบุ๊ค</a></div>
            </div>
        </div>
    </ion-slide>
    <ion-slide class="backgroundLoginComfirm">
    </ion-slide>
    <ion-slide class="background1">
        <div class="box pink"></div>
    </ion-slide>
    <ion-slide class="background2">
        <div class="box pink"></div>
    </ion-slide>
    <ion-slide class="background3">
        <div class="box pink"></div>
    </ion-slide>
    <ion-slide class="background4">
        <div class="box pink"></div>
    </ion-slide>
</ion-slide-box>
