<ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide class="TourA-BG">
    </ion-slide>
    <ion-slide class="TourB-BG">
    </ion-slide>
    <ion-slide class="TourC-BG">
    </ion-slide>
    <ion-slide class="TourD-BG">
    </ion-slide>
    <ion-slide class="TourE-BG">
        <div class="row">
            <div class="col col-10 ">
            </div>
            <div class="col col-80 " style="margin-top: 140%; width:90%">
                <a href="#/templates/home" class="button button-block button-balanced">กลับสู่หน้าหลัก</a>
            </div>
            <div class="col col-10 ">
            </div>
        </div>
    </ions-slide>
</ion-slide-box>
