<ion-view class="backgroundLogin">
    <ion-content>
        <br>
        <br>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col col-80">
                <p class="text-center" style="font-size: 200%;  color: #339933;"><b>PROVIDENT FUND</b></p>
            </div>
            <div class="col col-10"></div>
        </div>
        <br>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col col-80">
                <p class="text-center" style="font-size: 200%;  color: #FFFFFF;">สมัครสมาชิก</p>
            </div>
            <div class="col col-10"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col col-80 text-center">
                <input type="text" id="inputStyle" placeholder="ชื่อ">
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col col-80 text-center">
                <input type="text" id="inputStyle" placeholder="นามสกุล">
            </div>
            <div class="col col-10"></div>
        </div>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col col-80 text-center">
                <input type="text" id="inputStyle" placeholder="เบอร์โทรศัพท์">
            </div>
            <div class="col col-10"></div>
        </div>
        <br>
        <div class="row">
            <div class="col col-50 text-right"> <a ng-click="register()" class="button button-outline button-light" style="width:80%; ">ลงทะเบียน</a></div>
            <div class="col col-50"> <a href="#/templates/home" class="button button-outline button-light" style="width:80%; ">ยกเลิก</a></div>
        </div>
        <br>
        <div class="row">
            <div class="col col-10">
            </div>
            <div class="col col-90 text-left">
                <p style="font-size: 150%;  color: #FFFFFF;">หรือสมัครทันที</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-10">
            </div>
            <div class="col col-90 text-left">
                <img src="img/fbconnect.png" style="width: 90%;" ng-click="connectWithFB()">
            </div>
        </div>
    </ion-content>
</ion-view>
