<ion-side-menus>
    <ion-side-menu-content>
        <ion-content scroll="false">
            <div class="row row-bottom media-screen">
                <div class="row row-bottom media-screen">
                    <div class="col col-10 text-left">
                        <button class=" button-icon icon ion-ios-arrow-back iconMenu" ng-click="goBackMember()"></button>
                    </div>
                    <div class="col col-80 text-center">
                        <p class="header-label icon-font-balanced">เงินสะสม</p>
                    </div>
                    <div class="col col-10 text-center">
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-social-bitcoin-outline"></i> ยอดยกมา
                    <span class="item-note"> 300k    </span>
                </div>
                <div class="item item-divider">
                    ระหว่างปี
                </div>
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-ios-calendar-outline"></i> เดือน ม.ค.
                    <span class="item-note"> 5k    </span>
                </div>
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-ios-calendar-outline"></i> เดือน ก.พ.
                    <span class="item-note"> 5k    </span>
                </div>
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-ios-calendar-outline"></i> เดือน มี.ค.
                    <span class="item-note"> 5k    </span>
                </div>
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-ios-calendar-outline"></i> เดือน เม.ย.
                    <span class="item-note"> 5k    </span>
                </div>
                <div class="item item-divider">
                    ผลรวม
                    <span class="item-note"> 320k    </span>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable menuBackground ">
            <div class="menus">
            </div>
        </ion-header-bar>
        <ion-content scroll="false">
            <div class="list " ng-include src="'templates/menu.html'">
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
