    /* Empty. Add your own CSS if you like */
    
    .backgroundLogin {
        background-image: url("../img/BG-h.png");
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
    }
    
    .backgroundLoginComfirm {
        background-image: url("../img/BG-m.png");
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
    }
    
    .backgroundMember {
        background-color: #F7F7F7;
    }
    
    .positionLogIn {
        margin-top: 370px;
    }
    
    .positionLogInComfirm {
        margin-top: 30px;
    }
    
    .numberPad {
        border-radius: 100%;
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
    
    .iconLock {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: solid 0.2em;
    }
    
    #inputStyle {
        width: 100%;
        padding-left: 10px;
    }
    
    .downloadPDF {
        border-radius: 100%;
        margin-left: 50px;
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
    
    .fontHeaderPVD {
        font-size: 200%;
        color: #339933;
    }
    /*End Css Member style Mobile*/
    /* and (max-device-width: 667px) */
    
    @media screen and (min-device-width: 375px) {}
    /*End Css Member style*/
    
    .iconMenu {
        color: #33CD5F;
    }
    
    .scroll-content {
        position: relative;
        display: block;
        max-height: $popover-height;
    }
    
    .backgroundMenu {
        background-color: #E8E8E8;
    }
    
    .borderDivL {
        border: 1px solid;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-color: #21D800;
    }
    
    .borderDivR {
        border: 1px solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #21D800;
    }
    
    .textP-Member {
        position: fixed;
    }
    
    .iconPerson {
        font-size: 30px;
    }
    
    .header-label {
        font-size: 150%
    }
    
    .font-100 {
        font-size: 100%;
    }
    
    .font-200 {
        margin-top: 2px;
        font-size: 200%;
    }
    
    .font-15 {
        font-size: 15px;
    }
    
    .bigPackMember {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        padding-top: 10px;
    }
    
    .miniPackMember {
        border-radius: 100%;
        width: 80px;
        height: 80px;
        padding-top: 10px;
    }
    
    .bigPackMember-label {
        font-size: 20px;
        margin-top: -15px;
    }
    
    .bigPackMember-number {
        font-size: 10px;
    }
    
    .sum {
        height: 50px;
        margin-top: -5px;
        /*background-color: gray;*/
    }
    
    .unitSum {
        margin-top: -15px;
    }
    
    .icon-font-40 {
        font-size: 40px;
    }
    
    .icon-font-30 {
        font-size: 30px;
    }
    
    .icon-font-balanced {
        color: #33cd5f;
    }
    
    .icon-font-energized {
        color: #ffc900;
    }
    
    .font-gray {
        color: gray;
    }
    
    .menu-left {
        left: 0;
        background-color: #484646;
    }
    
    .menu-left-costom {
        background-color: #484646;
    }
    
    a.item {
        color: #D4CFCF;
        text-decoration: none;
    }
    
    .menu .bar-header {
        z-index: 11;
        background-color: #484646;
    }
